@font-face {
  font-family: EuclidCircularB;
  font-weight: normal;
  font-style: normal;
  src: url(assets/fonts/EuclidCircularB-Light.otf) format("opentype");
}
@font-face {
  font-family: EuclidCircularB;
  font-weight: bold;
  font-style: normal;
  src: url(assets/fonts/EuclidCircularB-Bold.otf) format("opentype");
}
@font-face {
  font-family: EuclidCircularB;
  font-weight: bold;
  font-style: italic;
  src: url(assets/fonts/EuclidCircularB-BoldItalic.otf) format("opentype");
}
